/*.gif*
/*.jso*
/*.xyz*

*.acn*
*.acr*
*.alg*
*.aux*
*.bbl*
*.bcf*
*.bib*
*.blg*
*.csv*
*.dat*
*.den*
*.dot*
*.eng*
*.gbw*
*.gif*
*.inp*
*.ist*
*.loc*
*.log*
*.mat*
*.out*
*.pdf*
*.png*
*.ppm*
*.toc*
*.txt*
*.xml*

*.gz
*.md

*.e[0-9]*
*.o[0-9]*

*bin*/
*bui*/
*cod*/
*dis*/
*egg*/
*ext*/
*lib*/
*sit*/
*zig*/

__*/

*run.sh
*sub.sh

[A-Z]*/

!index.md
