/*.gif*
/*.jso*
/*.xyz*

*.acn*
*.acr*
*.alg*
*.aux*
*.bbl*
*.bcf*
*.blg*
*.ist*
*.log*
*.xml*
*.toc*
*.dot*
*.loc*
*.mat*
*.out*
*.pdf*
*.png*
*.ppm*

*.gz
*.md

*bin*/
*bui*/
*cod*/
*dis*/
*egg*/
*sit*/
*zig*/

__*/

!index.md
