/.antigravitycli/
/.zig-cache/
/dist/
/external-aarch64-linux-gnu/
/external-aarch64-linux-musl/
/external-riscv64-linux-gnu/
/external-riscv64-linux-musl/
/external-x86_64-linux-gnu/
/external-x86_64-linux-musl/
/lib/
/orca/
/zig-out/

/zigar
/zigcc
/zigcpp
/zigranlib

/*.data
/*.exe
/*.hdf
/*.json
/*.mat
/*.old
/*.pdb
/*.svg
/*.toml
/*.txt
/*.xz

/docs/_site/
/docs/code/

/docs/gems.locked
