name: Documentation

on:
  push:
    branches:
      - 'master'

permissions:
  id-token: write
  pages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.4"

      - name: Transpile the Documentation
        run: ./script/transpile_docs.py

      - name: Compile the Documentation
        run: make docs

      - name: Upload Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs/_site

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3

  deploy:
    runs-on: ubuntu-latest
    needs: build

    environment:
      url: 'https://tjira.github.io/zinq'
      name: docs

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3
