name: Mirror

on: [push]

jobs:
  codeberg:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Full History
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push the Mirror to Codeberg
        env:
          CODEBERG_TOKEN: ${{secrets.CODEBERG_TOKEN}}
        run: git push --force https://tjira:$CODEBERG_TOKEN@codeberg.org/tjira/zinq "refs/heads/*:refs/heads/*" "refs/tags/*:refs/tags/*"

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3

  gitlab:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Full History
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push the Mirror to GitLab
        env:
          GITLAB_TOKEN: ${{secrets.GITLAB_TOKEN}}
        run: git push --force https://oauth2:$GITLAB_TOKEN@gitlab.com/tojira/zinq "refs/heads/*:refs/heads/*" "refs/tags/*:refs/tags/*"

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3
