name: Mirror

on:
  push:
    branches:
      - 'master'

jobs:
  gitlab:
    runs-on: ubuntu-latest

    steps:
      - name: Mirror the Repository
        run: git clone --mirror https://github.com/tjira/zinq zinq

      - name: Push the Mirror to GitLab
        env:
          GITLAB_TOKEN: ${{secrets.GITLAB_TOKEN}}
        run: cd zinq && git push --mirror https://oauth2:$GITLAB_TOKEN@gitlab.com/tojira/zinq

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3
