name: Test

on:
  push:
    branches:
      - '*'

permissions:
  contents: read

jobs:
  linux:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Tests
        run: make test

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3

  macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Tests
        run: make test

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3

  windows:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Tests
        run: make test

      - name: Setup Tmate Session
        if: failure()
        uses: mxschmitt/action-tmate/detached@v3
